

<div class="MainDiv d-flex flex-fill">
    <div class="header text-bold text-center">
        @Title
    </div>
    <div class="money text-bold text-center trapezoid">
        <div class="money_outline">
            <span class="money_text">$</span>
            <span class="money_text" id="babki">@Debt</span>
        </div>
    </div>
</div>


@code{
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public double Debt { get; set; }
}

