@inherits DebtsComponentBase

@if (ExternalModel is not null && InternalModel is not null)
{
    <div class="DebtComponent">
        <DebtComponent Title="@(IsChecked?LanguageDictionary[Language]["External"]:LanguageDictionary[Language]["Internal"])"
                       Debt="@(IsChecked?ExternalModel.Debt:InternalModel.Debt)"></DebtComponent>
    </div>
    <div class="DebtSelector">
        <ToggleSwitch CheckedChanged="@ChangeState"></ToggleSwitch>
    </div>
}
else
{
    <div class="container d-flex justify-content-center flex-fill">
        Loading...
    </div>
}