
<select @onchange="LanguageChanged" class="select-css">
    <option value="Russian">Русский</option>
    <option value="English">English</option>
    <option value="Arabic">عربى</option>
</select>


@code {
    [Parameter]
    public EventCallback<string> LanguageSelected { get; set; }

    private void LanguageChanged(ChangeEventArgs e)
    {
        string culture = (string)e.Value;
        LanguageSelected.InvokeAsync(culture);
    }

}
