@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap");

* {
    font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-image: url(https://images.ua.prom.st/1683087314_w640_h640_flag-ssha.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}
