@page "/"
    <div class="flex-column">
        <div class="d-flex justify-content-end">
            <LanguageSelector LanguageSelected="LanguageSelected"></LanguageSelector>
        </div>
        <DebtsComponent Language="@Language"></DebtsComponent>
    </div>
    @code{
        public string Language { get; set; } = "Russian";

        public void LanguageSelected(string language)
        {
            Language = language;
        }
    }