@page "/"
<div class="">
    <div class="LanguageSelector">
        <LanguageSelector LanguageSelected="LanguageSelected"></LanguageSelector>
    </div>
    <div class="DebtsComponent">
        <DebtsComponent Language="@Language"></DebtsComponent>
    </div>
</div>
@code{
    public string Language { get; set; } = "Russian";

    public void LanguageSelected(string language)
    {
        Language = language;
    }
}